
.profile-photo{
    border-radius: 50%;
    margin-left: 627px;
    margin-top: 200px;
    
}

.name{
    text-align: center;
    
}

.stats{
    display: flex;
    text-align: center;
    justify-content: center;
}